.into-container {
  margin: auto;
  width: 815px; /*widthの指定は必須*/
  height: 600px; /*heightの指定は必須*/
  .inner-intro {
    color: black;
  }
  .intro-list {
    line-height: 3rem;
    > li {
      font-size: 24px;
    }
  }
}
