.timeline {
  list-style: none;
}
.timeline > li {
  margin-bottom: 60px;
}

@media (min-width: 640px) {
  /* これからここにデスクトップ用のCSSを記述します */
  .timeline > li {
    overflow: hidden;
    margin: 0;
    position: relative;
  }
  .timeline-content {
    width: 100%;
    float: left;
    border-left: 3px #707070 solid;
    padding-left: 30px;
  }
  .timeline-content:before {
    content: "";
    width: 40px;
    height: 40px;
    background: #7ad6bb;
    position: absolute;
    left: 10px;
    top: 24px;
    border-radius: 100%;
  }
}

.work-subbox {
  width: 815px;
  margin: auto;
}
